################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/System.Test/.vs/System.Test/v15/Server/sqlite3
/System.Test/Test.Api.A/obj/Debug/netcoreapp2.1
/System.Test/Test.Api.ACore/obj/Debug/netstandard2.0
/System.Test/Test.Api.B/obj/Debug/netcoreapp2.1
/System.Test/Test.Api.BCore/obj/Debug/netstandard2.0
/System.Test/Test.Api.C/obj/Debug/netcoreapp2.1
/System.Test/Test.Api.CCore/obj/Debug/netstandard2.0
/Ocelot/.vs/config
/Ocelot/.vs/Ocelot/v16
/Ocelot/Ocelot.Core/bin/Debug/netstandard2.0
/Ocelot/Ocelot.Core/obj/Debug/netstandard2.0
/Ocelot/Ocelot.Core/obj
/System.Test/.vs/config
/System.Test/.vs/System.Test/DesignTimeBuild
/System.Test/.vs/System.Test/v16/Server/sqlite3
/System.Test/.vs/System.Test/v16
/System.Test/obj/Docker
/System.Test/Test.Api.A/bin/Debug/netcoreapp2.1
/System.Test/Test.Api.A/obj/Docker
/System.Test/Test.Api.A/obj
/System.Test/Test.Api.ACore/bin/Debug/netstandard2.0
/System.Test/Test.Api.B/bin/Debug/netcoreapp2.1
/System.Test/Test.Api.B/obj/Docker
/System.Test/Test.Api.B/obj
/System.Test/Test.Api.C/bin/Debug/netcoreapp2.1
/System.Test/Test.Api.C/obj/Docker
/System.Test/Test.Api.CCore/bin/Debug/netstandard2.0
/System.Test/Test.Api.CCore/obj
/System.Test/Test.Common/bin/Debug/netstandard2.0
/System.Test/Test.Common/obj
/Test.Api.D/bin/Debug/netcoreapp2.2
/Test.Api.D/obj/Debug/netcoreapp2.2
/Test.Api.D/obj
/TestApi.E/bin/Debug/netcoreapp3.0
/TestApi.E/obj
